<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="512px" height="175px" viewBox="0 0 512 175" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <title>Break Even Analysis Equation</title>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Group" sketch:type="MSLayerGroup" transform="translate(-1.000000, -4.000000)">
            <text id="Fixed-Costs" class="equation-label">
                <tspan x="325" y="20">Fixed Costs</tspan>
            </text>
            <text id="$00.00" class="equation-value">
                <tspan x="285" y="67">{{format-currency fixedCosts}}</tspan>
            </text>
            <text id="$00.00" class="equation-value">
                <tspan x="198" y="147">{{format-currency sellingPrice}}</tspan>
            </text>
            <text id="$00.00" class="equation-value">
                <tspan x="369" y="148">{{format-currency unitCosts}}</tspan>
            </text>
            <text id="-" class="equation-value">
                <tspan x="341" y="148">-</tspan>
            </text>
            <text id="Selling-Price" class="equation-label">
                <tspan x="220" y="175">Price Per Unit</tspan>
            </text>
            <text id="Unit-Price" class="equation-label">
                <tspan x="360" y="175">Variable Cost Per Unit</tspan>
            </text>
            <path d="M184.5,91 L511.457184,91" id="Line" stroke="#979797" stroke-width="2" stroke-linecap="square" sketch:type="MSShapeGroup"></path>
            <text id="=" font-size="40" font-weight="260" fill="#000000">
                <tspan x="148" y="106">=</tspan>
            </text>
            <text id="0.00" class="equation-value">
                <tspan x="36" y="106">{{round-number breakEvenQuantity}}</tspan>
            </text>
            <text id="Break-Even-Quantity">
                <tspan x="0" y="133">Break Even Quantity</tspan>
            </text>
        </g>
    </g>
</svg>
