.equation {
  text-align: center;
  svg {
    margin: auto;
  }
}

.equation-label {
  fill: #000000;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.equation-value {
  fill: #000000;
  font-weight: normal;
  text-align: center;
  font-size: 40px;
}
