@import 'colors';

@mixin header($color) {
  background-color: $color;
  padding: 1rem 0;
  border-radius: 3px;
}

.header-table {
  text-align: center;
  margin-top: 2rem;
  h4 {
    font-size: 0.8em;
    @media screen and (max-width: 768px) {
        display: inline;
        font-size: 1em;
        :after {
          content: ': '
        }
    }
  }
  .rate h4 {
    @include header($pale);
  }
  .employed h4 {
    @include header($leafGreen);
  }
  .unemployed h4 {
    @include header($red);
  }
  .ineligible h4 {
    @include header($yellow);
  }
  p {
    font-size: 2rem;
  }
}
