<header>
  <div class="container clearfix">
    <div class="logo left"><img src="assets/images/cee-logo.png" class="cee-logo"></div>
  </div>
  <div class="title">
    <h1>Break Even Analysis</h1>
  </div>
</header>
